.Input {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
}

.Label {
    font-weight: bold;
    display: block;
    margin-bottom:8px;
}

.formControl {
    outline:none;
    border: solid 1px #ccc;
    background-color:white;
    font:inherit;
    padding: 6px 10px;
    box-sizing: border-box;
    width:100%;
}

.formControl:focus{
    outline:none;
    background-color:#eee;
}

.invalid{
    border:solid 1px red;
}